{% load cms_tags thumbnail %}
<div class="who-we-are">
    <div class="sec-title">
        <h3>{{ instance.sub_title }}</h3>
        <h2>{{ instance.title }}</h2>
    </div>
    <div class="sec-text clearfix">
        <p>{{ instance.text }}</p>
    </div>
    {% thumbnail instance.image '670x330' crop as img %}
    <img class="img-responsive" src="{{ img.url }}" alt="" title="{{ instance.title }}">
</div>