{% load cms_tags static thumbnail %}

<!--Page Banner -->

<section class="page-banner" style="background-image:url(
        {% if instance.image %}
            {% thumbnail instance.image "1550x150" crop="center" %}
        {% else %}
            {% static 'images/background/page-banner-bg.jpg' %}
        {% endif %}
        );">
    <div class="auto-container">
        <h1>
            {% if instance.name %}
                {{ instance.name }}
            {% else %}
                {% page_attribute "page_title" %}
            {% endif %}
        </h1>
    </div>
</section>