{% load thumbnail %}
<!--Curved Section-->
<section class="curved-section">
    <div class="auto-container clearfix">
        <div class="content">
            <div class="sec-title">
                <h3>{{ instance.sub_name }}</h3>
                <h2>{{ instance.name }}</h2>
            </div>
            <div class="sec-text">
                {{ instance.text }}
            </div>
        </div>
        {% thumbnail instance.image "1000x670" crop="bottom" as im %}
        <figure class="image" style="background-image:url({{ im.url }});">
            <div class="price"></div>
        </figure>
    </div>
</section>