{% load cms_tags static thumbnail %}

<section class="features" style="background-image:url(
{% if instance.image %}
    {% thumbnail instance.image 1550x660 crop %}
{% else %}
    {% static 'images/background/image-1.jpg' %}
{% endif %}
);">
    <div class="auto-container clearfix">

        {% for post in instance.child_plugin_instances %}
            {% render_plugin post %}
        {% endfor %}

    </div>
</section>