{% load cms_tags static thumbnail %}

<article class="post wow {{ instance.data_fade }}" data-wow-delay="{{ instance.wow_delay }}s" data-wow-duration="{{ instance.wow_durations }}s" data-wow-offset="0">
    <figure class="image">
        <img src="{% if instance.image %}{% thumbnail instance.image 290x255 crop %}{% else %}{% static 'images/resource/features-image-1.jpg' %}{% endif %}" alt="" title="">
        <a class="overlay" href="{{ instance.page.get_absolute_url }}"></a>
        <div class="arrow {{ instance.data_arrow }}"><span></span></div>
    </figure>
    <div class="text">
        <h3>{{ instance.name }}</h3>
        <p>{{ instance.desc }}</p>
    </div>
    <div class="clearfix"></div>
</article>