{% load cms_tags thumbnail %}
<!--Copyright-->
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="footer-widget copyright wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s"
         data-wow-offset="0">
        {% thumbnail instance.logo "150x150" as img %}
        <h2><img src="{{ img.url }}" alt="{{ img.logo.alt }}" title=""></h2>
        <p>&copy; 2019 {{ instance.name }}</p>
        {% for brand_link in instance.child_plugin_instances %}
            {% render_plugin brand_link %}{% if not forloop.last %} | {% endif %}
        {% endfor %}
    </div>
</div>