<!--Contact-->
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="footer-widget contact wow fadeInUp" data-wow-delay="2s" data-wow-duration="1s"
         data-wow-offset="0">
        <h2>{{ instance.name }}</h2>
        <ul>
            <li class="clearfix">
                <strong class="pull-left">Почта</strong>
                <p class="pull-right">{{ instance.email }}</p>
            </li>
            <li class="clearfix">
                <strong class="pull-left">Телефон</strong>
                <p class="pull-right">{{ instance.phone }}</p>
            </li>
            <li class="clearfix">
                <strong class="pull-left">Адрес</strong>
                <p class="pull-right">{{ instance.address }}</p>
            </li>
        </ul>
    </div>
</div>