{% load cms_tags static %}
<!--Main Footer-->
<footer class="main-footer">
    <div class="auto-container">
        {% for footer_row in instance.child_plugin_instances %}
            {% render_plugin footer_row %}
        {% endfor %}
    </div>
    <!-- Back to top Button -->
    <a href="#" class="back-to-top">
        <i class="fa fa-angle-up"></i>
    </a>
</footer>
<!--End Main Footer-->