{% load cms_tags %}
<!--Lower-->
<div class="lower">
    <div class="row clearfix">
        {% for footer_lower in instance.child_plugin_instances %}
            {% render_plugin footer_lower %}
        {% endfor %}
    </div>
</div>
<!--Lower End-->