{% load cms_tags %}
<!--Quick Links-->
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="footer-widget quick-links wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s"
         data-wow-offset="0">
        <h2>{{ instance.name }}</h2>
        <div class="clearfix">
            {% for list in instance.child_plugin_instances %}
                {% render_plugin list %}
            {% endfor %}
        </div>
    </div>
</div>