{% load cms_tags %}
<h2 class="pull-left">{{ instance.name }}</h2>
<div class="social-links pull-left">
    {% for network in instance.child_plugin_instances %}
        {% render_plugin network %}
    {% endfor %}
</div>