<!--Popular Tags-->
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="footer-widget popular-tags wow fadeInUp" data-wow-delay="1.5s" data-wow-duration="1s"
         data-wow-offset="0">
        <h2>Popular Tags</h2>
        <a href="#">Fitness</a>
        <a href="#">Workout</a>
        <a href="#">Coach</a>
        <a href="#">Services</a>
        <a href="#">Training</a>
        <a href="#">Health</a>
        <a href="#">Running</a>
        <a href="#">Country</a>
        <a href="#">Claims</a>
    </div>
</div>