{% load cms_tags sekizai_tags static %}
<section id="gallery-page" class="two-col">
    <div class="auto-container">
        <div class="sec-title">
            <h3>{{ instance.sub_name }}</h3>
            <h2>{{ instance.name }}</h2>
        </div>
        <div class="gallery-filter">
            <ul>
                {% for image_category in instance.child_plugin_instances %}
                    {% if forloop.first %}
                        <li class="filter" data-filter="all">
                            <span>Все</span>
                        </li>
                    {% endif %}
                    <li class="filter" data-filter=".{{ image_category.slug }}">
                        <span>{{ image_category.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="image-gallery" class="clearfix">
            {% for image_category in instance.child_plugin_instances %}
                {% render_plugin image_category %}
            {% endfor %}
        </div>
    </div>
</section>
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js' %}"></script>{% endaddtoblock %}