{% load cms_tags static thumbnail %}
{% for image in instance.child_plugin_instances %}
    <div class="col-lg-3 mix {{ instance.slug }}">
        <a href="{% thumbnail image.image "1550x800" crop %}">
            <img src="{% thumbnail image.image "585x388" crop %}" alt="">
            <div class="overlay">
                <i class="fa fa-search"></i>
                <h2>{{ image.name }}</h2>
            </div>
        </a>
    </div>
{% endfor %}