{% load cms_tags %}
<!--Our Services -->
<section class="our-services">
    <div class="auto-container">
        <div class="row clearfix">
            {% for service in instance.child_plugin_instances %}
                {% render_plugin service %}
            {% endfor %}
        </div>
    </div>
</section>