{% load cms_tags %}
<article class="col-md-4 col-sm-12 col-xs-12 box wow zoomIn" data-wow-delay="0.5s" data-wow-duration="1s"
         data-wow-offset="0">
    <h2>{{ instance.title }}<sub>{{ instance.sub_title }}</sub></h2>
    <div class="text">
        <p>{{ instance.description }}</p>
    </div>
</article>