<div class="tp-caption lfb tp-resizeme"
     data-x="{{ instance.data_x }}"
     data-hoffset="{{ instance.data_hoffset }}"
     data-y="{{ instance.data_y }}"
     data-voffset="{{ instance.data_voffset }}"
     data-speed="{{ instance.data_speed }}"
     data-start="{{ instance.data_start }}"
     data-easing="{{ instance.data_easing }}"
     data-splitin="{{ instance.data_splitin }}"
     data-splitout="{{ instance.data_splitout }}"
     data-elementdelay="{{ instance.data_elementdelay }}"
     data-endelementdelay="{{ instance.data_endelementdelay }}"
     data-endspeed="{{ instance.data_endspeed }}"
     data-endeasing="{{ instance.data_endeasing }}"
     style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
    <div class="curved-layer {{ instance.data_color }}"><{{ instance.data_size }}>{{ instance.data_text }}</{{ instance.data_size }}></div>
</div>
