{% load cms_tags %}
<!-- Main Slider -->
<section id="main-slider" class="main-slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                {% for slide in instance.child_plugin_instances %}
                    {% render_plugin slide %}
                {% endfor %}
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>
<!-- End Slider -->