{% load cms_tags %}
<section id="faq-page">
    <div class="auto-container">
        <div class="clearfix">
            <div class="side-tab">
                <div class="col-lg-3">
                    <ul>
                        {% for tab in instance.child_plugin_instances %}
                            <li class="{% if forloop.first %}active{% endif %} wow fadeIn" data-wow-delay=".1s">
                                <a data-tab-name="tab-{{ forloop.counter }}" href="#">{{ tab.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-9 wow fadeIn" data-wow-delay="1s">
                    {% for tab in instance.child_plugin_instances %}
                        <div id="tab-{{ forloop.counter }}">
                            {{ tab.text }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>