{% load cms_tags sekizai_tags static %}
<section id="testimonials-page">
    <div class="auto-container">
        <div class="clearfix">
            <div class="sec-title">
                <h3>{{ instance.title }}</h3>
                <h2>{{ instance.sub_title }}</h2>
            </div>
            <div class="owl-carousel">
                {% for t in testimonials %}
                {% if forloop.counter0 < instance.maximum %}
                <div class="item {% if forloop.first %}active{% endif %}">
                    <p><i class="fa fa-quote-left"></i>{{ t.message }}</p>
                    <div class="testimonial-info">
                        <span class="testimonial-author">{{ t.first_name }} {{ t.last_name }}</span>
                    </div>
                    <div class="testimonial-img">
                        <img src="{{ t.image.url }}" alt="t.image.default_alt_text">
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>