{% load cms_tags menu_tags sekizai_tags static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/revolution-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    {% render_block 'css' %}
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>
<body>
{% cms_toolbar %}
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
    <!-- Main Header -->
    <header class="main-header">
        <div class="auto-container clearfix">

            <!-- Logo -->
            <div class="logo"><a href="#"><img src="{% static 'images/logo.png' %}" alt="Logo" title="StayFit" width="45"></a></div>

            <!-- Main Menu -->
            {% show_menu 0 100 100 100 'menu.html' %}
            <!-- Main Menu End-->

        </div>

        <div class="open-hours">
            <div class="toggle-open-hours"><span class="fa fa-clock-o"></span> <span>График работы</span> <br>{% static_placeholder 'Opening Time' %}</div>
        </div>

    </header>
    <!--End Main Header -->
    {% block content %}{% endblock content %}
    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">
        	<!--Upper-->
        	{% static_placeholder SocialNetworks %}

            <!--Lower-->
        	<div class="lower">
            	<div class="row clearfix">

                    <!--Copyright-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                    	<div class="footer-widget copyright wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s" data-wow-offset="0">
                        	<h2><img src="{% static 'images/logo-footer.png' %}" alt="" title=""></h2>
                        	<p>&copy; 2015 STAYFIT - FITNESS &amp; GYM COMPANY</p>
                            <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="#">FAQ</a>
                        </div>
                    </div>

                    <!--Quick Links-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                    	<div class="footer-widget quick-links wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s" data-wow-offset="0">
                        	<h2>Quick Links</h2>
                        	<div class="clearfix">
                            	<ul>
                                	<li><a href="#">Our Courses</a></li>
                                    <li><a href="#">Workouts</a></li>
                                    <li><a href="#">Coaches</a></li>
                                    <li><a href="#">Training Areas</a></li>
                                </ul>
                                <ul>
                                	<li><a href="#">Gym Cities</a></li>
                                    <li><a href="#">Pricings</a></li>
                                    <li><a href="#">Products</a></li>
                                    <li><a href="#">Sessions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Popular Tags-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                    	<div class="footer-widget popular-tags wow fadeInUp" data-wow-delay="1.5s" data-wow-duration="1s" data-wow-offset="0">
                        	<h2>Popular Tags</h2>
                        	<a href="#">Fitness</a>
                            <a href="#">Workout</a>
                            <a href="#">Coach</a>
                            <a href="#">Services</a>
                            <a href="#">Training</a>
                            <a href="#">Health</a>
                            <a href="#">Running</a>
                            <a href="#">Country</a>
                            <a href="#">Claims</a>
                        </div>
                    </div>

                    <!--Contact-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                    	<div class="footer-widget contact wow fadeInUp" data-wow-delay="2s" data-wow-duration="1s" data-wow-offset="0">
                        	<h2>Contact Us</h2>
                            <ul>
                            	<li class="clearfix">
                                	<strong class="pull-left">Mail</strong>
                                    <p class="pull-right">STAYFIT@email.com</p>
                                </li>
                                <li class="clearfix">
                                	<strong class="pull-left">Phone</strong>
                                    <p class="pull-right">+61 123 456 789</p>
                                </li>
                                <li class="clearfix">
                                	<strong class="pull-left">Address</strong>
                                    <p class="pull-right">New York City, <br>Avenue Street 321 Melbourne 3000</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <!--Lower End-->

        </div>
        <!-- Back to top Button -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </footer>
    <!--End Main Footer-->
</div>
{% render_block 'js' %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/revolution.min.js' %}"></script>
<script src="{% static 'js/bxslider.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/knob.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

{#<script>#}
{#    (function (i, s, o, g, r, a, m) {#}
{#        i['GoogleAnalyticsObject'] = r;#}
{#        i[r] = i[r] || function () {#}
{#            (i[r].q = i[r].q || []).push(arguments)#}
{#        }, i[r].l = 1 * new Date();#}
{#        a = s.createElement(o),#}
{#            m = s.getElementsByTagName(o)[0];#}
{#        a.async = 1;#}
{#        a.src = g;#}
{#        m.parentNode.insertBefore(a, m)#}
{#    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');#}
{##}
{#    ga('create', 'UA-62956010-2', 'auto');#}
{#    ga('send', 'pageview');#}
{##}
{#</script>#}
</body>
</html>