{% load menu_tags %}
<nav class="main-menu">
    <div class="navbar-header">
        <!-- Toggle Button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse clearfix">
        <ul class="nav navbar-nav navbar-right">
            {% for child in children %}
                <li class="{% if child.selected %}current{% endif %} {% if child.children %} dropdown {% endif %}">
                    <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                    {% if child.children %}
                        <ul class="submenu">
                            <li><a href="index.html">Home Style One</a></li>
                            <li><a href="index-2.html">Home Style Two</a></li>
                            <li><a href="index-3.html">Home Style Three</a></li>
                            <li><a href="index-one-page-version.html"> One Page Version</a></li>
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
    </div>
</nav>