{% load cms_tags menu_tags sekizai_tags static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Эстетика: {% block title %}{% endblock title %}</title>
    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/revolution-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    {% render_block 'css' %}
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>
<body>
{% cms_toolbar %}
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>
    <!-- Main Header -->
    <header class="main-header">
        <div class="auto-container clearfix">

            <!-- Logo -->
            <div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="Logo" title="Эстетика" width="135"></a></div>

            <!-- Main Menu -->
            {% show_menu 0 100 100 100 'menu.html' %}
            <!-- Main Menu End-->

        </div>

        <div class="open-hours">
            <div class="toggle-open-hours"><span class="fa fa-clock-o"></span> <span>График работы</span> <br>{% static_placeholder 'Opening Time' %}</div>
        </div>

    </header>
    <!--End Main Header -->
    {% block content %}{% endblock content %}
    {% static_placeholder 'Custom Footer' %}
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/revolution.min.js' %}"></script>
<script src="{% static 'js/bxslider.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/knob.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% render_block 'js' %}
</body>
</html>