{% load menu_tags %}
<nav class="main-menu">
    <div class="navbar-header">
        <!-- Toggle Button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse clearfix">
        <ul class="nav navbar-nav navbar-right">
            {% for child in children %}
                <li class="{% if child.selected %}current{% endif %} {% if child.children %} dropdown {% endif %}">
                    <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                    {% if child.children %}
                        <ul class="submenu">
                            {% for sub_child in child.get_descendants %}
                                <li><a href="{{ sub_child.get_absolute_url }}">{{ sub_child.get_menu_title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
    </div>
</nav>