{% extends 'base.html' %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% placeholder 'Banner' %}
    <!--Two Column-->
    <section class="two-column">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Who we are-->
                <div class="col-md-7 col-sm-6 col-xs-12">
                    {% placeholder 'column-1' %}
                </div>
                <!--Featured Courses-->
                <div class="col-md-5 col-sm-6 col-xs-12">
                    {% placeholder 'column-2' %}
                </div>
            </div>
        </div>
    </section>
    {% placeholder 'Content' %}
{% endblock content %}
