<ul class="submenu">
    <li><a href="index.html">Home Style One</a></li>
    <li><a href="index-2.html">Home Style Two</a></li>
    <li><a href="index-3.html">Home Style Three</a></li>
    <li><a href="index-one-page-version.html"> One Page Version</a></li>
</ul>